<!DOCTYPE html>
<html lang="en">
	<head>
		<th:block
			th:insert="~{/fragments/fragments.html::main-head}"
		></th:block>
		<title>Home</title>
	</head>
	<body class="d-flex flex-column min-vh-100">
		<header th:replace="~{/fragments/fragments.html::main-header}"></header>
		<h1>ReadME</h1>
		<p>
			Your personal reading manager a space were you can save in wich part
			of your favorite books are you. Show the other your favorite reading
			and your opinion
		</p>
		<p><img src="../static/img/proyecto.png" alt="proyect" /></p>
		<footer th:replace="~{/fragments/fragments.html::main-footer}"></footer>
	</body>
</html>
