<!DOCTYPE html>
<html lang="en">
	<head>
		<th:block
			th:insert="~{/fragments/fragments.html::main-head}"
		></th:block>
		<title>Home</title>
	</head>
	<body class="d-flex flex-column min-vh-100">
		<header th:replace="~{/fragments/fragments.html::main-header}"></header>
		<h1>ReadME</h1>
		<p>
			Tu gestor de lectura personal
			<br />
			Un espacio personal donde guardar tu progreso, tu lista de
			lectura(leidos y por leer). muestra al mundo tus grandes pasiones y
			opiniones;
		</p>
		<p><img th:src="@{/img/project.jpg}" /></p>
		<footer th:replace="~{/fragments/fragments.html::main-footer}"></footer>
	</body>
</html>
