<!doctype html>
<html lang="en">
  <head>
    <th:block th:insert="~{/fragments/fragments.html::main-head}"></th:block>
    <title>Quienes somos</title>
  </head>
  <body>
    <header th:replace="~{/fragments/fragments.html::main-header}"></header>
    <h1>Team JV</h1>
    <p>
      Team JV somos un grupo en alas de desarrollo, tal vez nos conozcas por
      nuestros cursos para los mas jovenes en el ambito de desarrollo de
      aplicaciones moviles. Esta vez os presentamos un proyecto que consideramos
      de grean utilidad para avidos de la lectura como nosotros. por ahora solo
      somos 2, los fundadores y unicos participantes, más esperamos crecer.
    </p>
    <table>
      <thead>
        Fundadores
      </thead>
      <tr>
        <td><img th:src="@{/img/fundador1.jpg}" /></td>
        <td><img th:src="@{/img/fundador2.jpg}" /></td>
      </tr>
      <tr>
        <td>tuVenezolanoFavorito</td>
        <td>Sr. Jevi</td>
      </tr>
    </table>
    <p><img src="../static/img/proyecto.png" alt="proyect" /></p>
  </body>
  <footer th:replace="~{/fragments/fragments.html::main-footer}"></footer>
</html>

